<section class="view-heading">
  <h1 ng-bind="vm.char.name"></h1>
</section>
<section class="view-content">
  <div class="row">
    <div class="col-md-4">
      <img ng-src="{{vm.char.img}}" height="200" width="200" alt="">
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Comics</th>
            <th>Series</th>
            <th>Stories</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-bind="vm.char.id"></td>
            <td ng-bind="vm.char.comics.available"></td>
            <td ng-bind="vm.char.series.available"></td>
            <td ng-bind="vm.char.stories.available"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row view-content">
    <p class="char-desc" ng-bind="vm.char.description"></p>
  </div>
</section>
